  *{
    font-family: Arial, Helvetica, sans-serif;
  }   
   
   body {
        margin: 0;
        background: #dedede;
        display: flex;
        align-items: center;
        height: 100vh;
      }
      .gameboard {
        height: 100vh;
        width: 100vh;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        max-height: 60vh;
        max-width: 60vh;
      }
      .color {
        width: 50%;
        height: 50%;
        display: inline-block;
      }
      .left {
        float: left;
      }
      .right {
        float: left;
      }
      .celeste {
        background: #22a6b3;
      }
      .celeste.light {
        background: #7ed6df;
      }
      .violeta {
        background: #be2edd;
      }
      .violeta.light {
        background: #e056fd;
      }
      .naranja {
        background: #f0932b;
      }
      .naranja.light {
        background: #ffbe76;
      }
      .verde {
        background: #6ab04c;
      }
      .verde.light {
        background: #badc58;
      }
      .btn-start {
        width: 400px;
        height: 100px;
        background: #ecf0f1;
        color: #2c3e50;
        font-size: 2.5rem;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 200px);
      }
      .hide {
        display: none;
      }

      @-webkit-keyframes fadeOut {
        from {
            opacity: 1;
            display: block;

        }

        to {
            display: none;
            opacity: 0;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            display: block;

        }

        to {
            display: none;
            opacity: 0;
        }
    }

    .btn-start {
        transition: display 2s;
        -webkit-transition: display 2s;
        transition: visibility 1s;
        -webkit-transition: visibility 1s;

        cursor: pointer;
        width: 420px;
        height: 100px;
        background: #ecf0f1;
        color: #2c3e50;
        border: none;
        border-bottom: 4px solid #c4c6c7;
        border-radius: 8px;
        font-size: 3em;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 210px);
        transition: .5s;
        outline: none;
    }

    .btn-start:hover {
        color: #ecf0f1;
        background: #2c3e50;
        border-bottom: 4px solid #1f3346;
    }
    
    .btn-start:active {
        transform: scale(.95);
    }

    .hide {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        
        visibility: hidden;
    }